* {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
}

/* end global rules  */


/* Footer style  */

.footer-container {
    background-color: #3A8EF6;
    padding: 64px 10%;
    /* Adjust padding for responsiveness */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-container .footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow wrapping */
    gap: 40px;
    /* Add spacing between sections */
}

.footer-container .footer-info .logo-adr {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container .footer-info .logo-adr p,
.footer-container .footer-info a:not(.list-title) {
    color: white;
    font-size: 16px;
    font-weight: lighter;
}

.footer-container .footer-info .list-title {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-bottom: 24px;
}

.footer-container .footer-info li:not(.list-title) {
    margin-bottom: 16px;
}

.footer-container .footer-info .social-icons img {
    margin-right: 20px;
    width: 30px;
    /* Adjust size for smaller screens */
}

.footer-container .hr-line {
    width: 100%;
    background-color: white;
    height: 1px;
}

.footer-container .copyright {
    text-align: center;
    color: white;
}

/* Responsive for tablets */
@media (max-width: 768px) {
    .footer-container {
        padding: 48px 5%;
    }

    .footer-container .footer-info {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        text-align: center;
    }

    .footer-container .footer-info .social-icons img {
        margin-right: 12px;
    }
}

/* Responsive for mobile */
@media (max-width: 480px) {
    .footer-container {
        padding: 32px 5%;
    }

    .footer-container .footer-info {
        gap: 30px;
    }

    .footer-container .footer-info ul {
        padding: 0;
        list-style: none;
    }

    .footer-container .footer-info .social-icons img {
        width: 25px;
        margin-right: 10px;
    }

    .footer-container .copyright {
        font-size: 14px;
    }
}

/* header style */



.header-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #CAF0F8;
    position: sticky;  /* Make the header sticky */
    top: 0;  /* Stick the header to the top */
    z-index: 1000;  /* Ensure it stays on top of other content */
  }
  
  .header-container1 .screens .screens-list {
    display: flex;
    gap: 40px;
  }
  
  .header-container1 .screens .screens-list .screen a {
    color: #6C87AE;
    font-size: 18px;
    padding: 8px 0;
  }
  
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
  }
  
  .profile .caret-button {
    border: none;
    background-color: transparent;
  }
  
  .profile .dropdown-menu{
    position: absolute;
    right: 0;
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    width: 120px;
    color: red;
    cursor: pointer;
  }
  .profile .dropdown-menu .logout-button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: red;
  }
  
  .profile .profile-text h2 {
    font-size: 20px;
  }
  
  .profile .profile-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .profile .profile-text i {
    font-size: 30px;
    color: #3A8EF6;
  }
  
  .header-container1 .profile .profile-image {
    width: 56px;
    height: 56px;
    cursor: pointer;
  }

  .header-container1 .login {
    background: linear-gradient(to right, #3A8EF6, #6F3AFA);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 24px;
    border-radius: 200px;
    cursor: pointer;
  }

  .header-container1 .login i {
    margin-right: 8px;
  }

  @media (max-width: 1200px) {
    .header-container1{
        padding: 60px;
    }
    .header-container1 .screens {
        display: none;
    }
  }
  
  @media (max-width: 768px) {
    .profile .profile-text h2 {
      display: none;
    }
    .header-container1 {
      padding: 16px;
    }
    .header-container1 .screens {
        display: none;
    }
  }

  .header-container1 .screens .screens-list .screen a.active {
    color: #6F3AFA;  /* Example color, change to whatever you want */
    font-weight: bold;
    border-bottom: 2px solid #6F3AFA;
}

  /* landing page style */

.Landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CAF0F8;
    padding: 0px 60px 80px 120px;
    min-height: 100vh;
}

.Landing-container .text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Landing-container .text-container .text .move-title {
    font-size: 24px;
    font-weight: bold;
    color: #6F3AFA;
    margin-bottom: -8px;
}
.Landing-container .text-container .text h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 8px;
}
.Landing-container .text-container .text .caption-text {
    font-size: 16px;
    color: #6C87AE;
}

.book-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3A8EF6, #6F3AFA);
    padding: 16px 28px;
    border-radius: 100px;
    color: white;
    gap: 10px;
    width: 284px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.book-button p {
    color: white;
    margin: auto;
}

@media (max-width: 1200px) {
    .Landing-container {
        padding: 60px;
    }
    .Landing-container .text-container {
        align-items: center;
        text-align: center;
    }
    .Landing-container .text-container .text h1 {
        font-size: 38px;
    }
    .Landing-container .text-container .text .move-title {
        font-size: 20px;
    }
    .Landing-container .landing-image {
        display: none;
    }
}
@media (max-width: 768px) {
    .Landing-container {
        padding: 16px;
    }
}

/* Services Style */

.section-name {
    font-size: 48px;
    margin: 40px auto 80px;
    width: fit-content;
    position: relative;
}

.section-name::before {
    content: "";
    position: absolute;
    width: 128px;
    height: 8px;
    background-color: #6F3AFA;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
}

@media (max-width: 768px) {
    .section-name {
        font-size: 38px;
    }
}

.services-container {
    padding: 0 80px 120px;
}
@media (max-width: 768px) {
    .services-container {
        padding: 0 16px 120px;
    }
}
@media (max-width: 1200px) {
    .services-container {
        padding: 0 40px 120px;
    }
}

.services-container .service-cards-container {
    background-color: #5390D9;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 24px;
    border-radius: 30px;
    gap: 60px;
    position: relative;
    overflow: hidden;
}


.services-container .service-cards-container::before {
    content: url(./components/assets/left.svg);
    position: absolute;
    left: -40px;
    bottom: -150px;
}

.services-container .service-cards-container::after {
    content: url(./components/assets/right.svg);
    position: absolute;
    right: -50px;
    top: -100px;
}

.services-container .service-cards-container .card {
    flex: 1;
    min-width: 248px;
    text-align: center;
    color: white;
}

.services-container .service-cards-container .card h4 {
    font-size: 24px;
    margin-bottom: 16px;
}

.services-container .service-cards-container .card p {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Team style */

.doctor-card-container {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    flex-basis: 415px;
    max-width: 600px;
}

.team-container .section-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.team-container .section-view .view-button {
    background-color: #3A8EF6;
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    color: white;
}

.team-container .section-view .view-button:hover {
    background-color: #80b9ff;
}

.doctor-card-container .doc-image {
    min-width: fill;
    width: 100%;
    height: 415px;
    background-color: #DAF8FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 40px 40px 0 0;
}

.doctor-card-container .doc-image img {
    flex-shrink: 0;
    flex-grow: 0;
}

.doctor-card-container .doc-info {
    text-align: center;
    padding: 32px 16px;
    flex: 1;
}

.doctor-card-container .doc-info h3 {
    font-size: 24px;
}

.doctor-card-container .doc-info .spec-text {
    font-size: 18px;
    color: #6C87AE;
    margin-bottom: 8px;
}

.doctor-card-container .doc-info .info-button {
    background-color: transparent;
    color: #6F3AFA;
    border: 1px solid #6F3AFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    padding: 16px 28px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    gap: 10px;
    cursor: pointer;
}

.doctor-card-container .doc-info .info-button p {
    color: #6F3AFA;
    margin: auto;
    margin-left: 10px;
}

.doctor-card-container .doc-info .info-button img {
    margin-left: auto;
}

.star-rating {
    margin-top: 8px;
    font-size: 30px;
    color: #FFD700;  /* Gold color for stars */
}

.star {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 4px;
}

.star.filled {
    color: #FFD700; /* Gold color for filled stars */
}

.star.empty {
    color: #d3d3d3; /* Light grey color for empty stars */
}

.star.half-filled {
    background: linear-gradient(to right, #FFD700 50%, #d3d3d3 50%);
    -webkit-background-clip: text;
    color: transparent;
}

.team-container {
    background-color: #CAF0F8;
    min-height: 1000px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-container .cards-container {
    display: flex;
    gap: 16px;
    margin: 80px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* testimonials style */

.person {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 32px;
    width: fit-content;
    border-radius: 24px;
}

.person img {
    width: 80px;
    height: 80px;
}

.person .person-info h3 {
    font-size: 24px;
    font-weight: bolder;
}

.person .person-info p {
    font-size: 16px;
    color: #6C87AE;
}

.person .person-info span {
    font-weight: bold;
}

.testimonials-container {
    padding: 0 80px 80px;
}

.testimonials-container .test-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 500px;
}

.testimonials-container .vertical-line {
    height: 500px;
    width: 2px;
    background-color: #6F3AFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
}

.testimonials-container .vertical-line div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6F3AFA;
}

.testimonials-container .vertical-line .big {
    width: 20px;
    height: 20px;
}

.testimonials-container .test-container .comment {
    max-width: 500px;
    position: relative;
}

.testimonials-container .test-container .comment::before {
    content: url(./components/assets/quote.svg);
    position: absolute;
    left: -80px;
    top: -40px;
}

.testimonials-container .test-container .comment p {
    font-size: 18px;
    color: #6C87AE;
}

.testimonials-container .test-container .comment i {
    margin-top: 40px;
    /* color: #6F3AFA; */
    margin-right: 4px;
}

.people-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* height: 300px; Adjust height as needed */
    transition: transform 5s ease-in-out;
}

.person {
    display: flex;
    align-items: center;
    margin: 15px 0;
    animation: slideIn 3s ease-in;
}

.person:nth-child(2) {  /* Target the middle comment */
    margin-left: 100px;  /* Shift to the right */
    background-color: white;  /* Light blue background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);  /* Slightly larger */
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.comment {
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.fa-star {
    font-size: 20px;
    /* color: green; */
}

.za.filled {
    color: #6F3AFA;  /* Gold for filled stars */
}

.za.empty {
    color: #d3d3d3;
}

.za.half-filled {
    background: linear-gradient(to right, #6F3AFA 50%, #d3d3d3 50%);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 1200px) {
    /* .testimonials-container {
        padding: 16px;
    } */
    .testimonials-container .test-container {
        align-items: center;
        justify-content: center;
    }
    .testimonials-container .vertical-line {
        height: 2px;
        width: 100%;
        flex-direction: row;
        margin-bottom: 60px;
        margin-top: 40px;
        align-items: center;
        
    }
    .testimonials-container .vertical-line {
        display: none;
    }
    .testimonials-container .test-container .people-container {
        display: none;
    }
}
@media (max-width: 1400px) {
    .testimonials-container {
        padding: 40px;
    }
}
@media (max-width: 768px) {
    .testimonials-container {
        padding: 16px;
    }
    .testimonials-container .vertical-line {
        display: none;
    }
    .testimonials-container .test-container .people-container {
        display: none;
    }
    .testimonials-container .test-container .comment {
        width: 320px;
    }
}

button {
    cursor: pointer;
}