.content-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 537px;
}

.second {
    font-size: 100px;
    color: #6F3AFA;
    border: 10px solid #C2CDE0;
    border-radius: 50%;
    padding: 40px;
}

.title-suc{
    color: #6F3AFA;
    font-weight: normal;
}

.p-suc{
    margin-bottom: 0;
    margin-top: 0;
}

.text-suc{
    text-align: center;
}