@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", serif;
}

.diagonal-container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media (max-width:991px) {
    .diagonal-container {
        flex-direction: column;
    }
    .left-side img, .right-side img {
        display: none;
    }
    .orcontainer {
        top: -7% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}

.left-side,
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #031432;
    text-align: center;
    position: relative;
    z-index: 1;
}

.left-side h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    size: 48px;
    line-height: 54.54px;
    text-align: center;
}

.right-side h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    size: 48px;
    line-height: 54.54px;
    text-align: center;
}

.left-side {
    background-color: #ffffff;
    /* left: -130px; */

}

.right-side {
    background-color: #CAF0F8;
    /* left: -120px; */

}

.diagonal-container::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: #ffffff;
    transform: rotate(-45deg);
    top: -50%;
    left: -25%;
    z-index: 0;
}

.orcontainer {
    background-color: #6F3AFA;
    width: 54px;
    height: 44px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -4.3%;
    top: 50%; 
 
}

.or {
    color: white;
    font-weight: 400;
    size: 18px;
    line-height: 28px;
    text-align: center;
}

.patient {
    width: 273.85px;
    height: 320px;

}

.doctor {
    width: 238.1px;
    height: 320px;
}

.register-container {
    background-color: #3A8EF6;
    width: 370px;
    height: 59px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.register {
    color: white;
    width: 74px;
    height: 25px;
    font-weight: 700;
    size: 18px;
    line-height: 24.51px;
    text-align: center;
}