.logo {
    position: absolute;
    left: 80px;
    top: 32px;
    font-size: 24px;
    font-weight: bold;
}
.logo span{
    color: #6F3AFA;
}



.container .image {
    width: 457px;
    height: 607px;
}
.content {
    width: 502px;
    height: 269px;
}
.container h2 {
    font-size: 32px;
}
.container p {
    font-size: 16px;
    color: #828282;
    margin-bottom: 40px;
}
input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: #CAF0F8;
}
.address:focus {
    outline: none;
}
input::placeholder {
    color: #6C87AE;
}
.verify-button:disabled, .code:disabled, .reset-password:disabled {
    background: #dcdcdc; /* Light gray color for disabled state */
    color: #9e9e9e;  /* Light gray text */
    cursor: not-allowed;  /* Change cursor to indicate it's disabled */
    opacity: 0.6;
}
.code, .verify-button, .reset-password, .Next {
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    color: white;
    background: linear-gradient(to right, #3A8EF6, #6F3AFA);
    cursor: pointer;
}

button {
    outline: none;
}