.eye {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #CAF0F8;
    margin-bottom: 16px;
    border-radius: 8px;
}
.eye .pass-input{
    border: none;
    background-color: transparent;
    outline: none;
    flex: 1;
}



.nor.weak {
    border: 2px solid red;
}
.nor.moderate {
    border: 2px solid orange;
}
.nor.strong {
    border: 2px solid green;
}
.nor.verystrong {
    border: 2px solid darkgreen;
}
.first{
    color: #6C87AE;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
.strength {
    margin-top: 0;
    font-size: 14px;
}

.state{
    margin-bottom: 16px;
}
.nor{
    margin-bottom: 0;
}
.fixbug-eye {
    margin-top: -20px;
}

.strength.weak {
    color: red;
}

.strength.moderate {
    color: orange;
}

.strength.strong {
    color: green;
}

.strength.verystrong {
    color: darkgreen;
}

.pass-input {
    font-size: 16px;
}