.doctor-card {
    background-color: #f0f9ff;
    position: relative;
    right: 75px;
    width: 415px;
    height: 707px;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-image {
    width: 415px;
    height: 415px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.doctor-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 4px 0;
    color: #000000;
    line-height: 27.27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.doctor-specialty {
    color: #6C87AE;
    font-weight: 400;
    size: 18px;
    line-height: 28px;
    text-align: center;
    margin: 0 0 12px 0;
}

.rating {
    margin-bottom: 16px;
}

.star {
    color: #ddd;
    font-size: 20px;
}

.star.filled {
    color: #ffd700;
}

.info-button,
.appointment-button {
    width: 284px;
    height: 57px;
    padding: 16px 28px 16px 28px;
    border-radius: 100px;
    border: 1px #3A8EF6;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: 700;
    size: 18px;
    line-height: 24.51px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.info-button {
    background-color: transparent;
    border: 1px solid #4285f4;
    color: #4285f4;
}

.info-button img {
    width: 24px;
    height: 24px;
    position: relative;
    right: 10px;
}

.appointment-button {
    background-color: #4285f4;
    color: white;
}

.appointment-button img {
    width: 24px;
    height: 24px;
    position: relative;
    right: 10px;
}

.info-button:hover {
    background-color: rgba(66, 133, 244, 0.1);
}

.appointment-button:hover {
    background-color: #3367d6;
}